<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- jedis连接池，http://www.cnblogs.com/tankaixiong/p/4048167.html -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!-- 最大空闲连接数量，默认值：8 -->
		<property name="maxIdle" value="${redis.maxIdle}" />
		<!-- 最小空闲连接数量，默认值：0 -->
		<property name="minIdle" value="${redis.minIdle}" />
		<!-- jedis pool中的最大连接数量，默认值：8 -->
		<property name="maxTotal" value="${redis.maxTotal}" />
		<!-- 获取连接时的最大等待时长（毫秒），默认值：-1L -->
		<property name="maxWaitMillis" value="${redis.maxWaitMillis}" />
		<!-- jedis pool中可用资源耗尽时是否阻塞，false：报异常，true：阻塞直到超时，默认true -->
		<property name="blockWhenExhausted" value="${redis.blockWhenExhausted}" />
		<!-- 获取连接时检查有效性，默认值：false -->
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
		<!-- 是否检测空闲连接的有效性，默认值：false -->
		<property name="testWhileIdle" value="${redis.testWhileIdle}" />
		<!-- 空闲对象被清除需要达到的最小空闲时间，默认值：1800000毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${redis.minEvictableIdleTimeMillis}" />
		<!-- 逐出扫描的时间间隔（毫秒），如果为负数则不运行逐出线程，默认值：-1 -->
		<property name="timeBetweenEvictionRunsMillis" value="${redis.timeBetweenEvictionRunsMillis}" />
	</bean>

	<!-- jedis连接工厂 -->
	<bean id="jedisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="hostName" value="${redis.hostName}" />
		<property name="port" value="${redis.port}" />
		<property name="password" value="${redis.password}" />
		<property name="database" value="${redis.database}" />
		<property name="timeout" value="${redis.timeout}" />
		<property name="poolConfig" ref="jedisPoolConfig" />
	</bean>

	<!-- spring对redis的封装，http://www.cnblogs.com/tankaixiong/p/3660075.html http://www.tuicool.com/articles/3aAbMz -->
	<!-- spring-data-redis版本问题，http://blog.csdn.net/forlovedoit/article/details/52692910 -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory" />
	</bean>
</beans>